body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, #root, body{
  height:100%;
}

.outer{
  height: 100%;
  flex-direction: row;
  display: flex;
}

.textDump{
  height: 100%;
  float: right;
  position: relative;
  width: 80%;
  background-color: #696969;
  display: flex;
  flex-direction: row;
}

.textDump div{
  margin: 12px;
  background-color: white;
  height: auto;
  width: 100%;
  overflow:auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}


.options{
  position: relative;
  height: 100%;
  float: left;
  width: 20%;
  background-color: #696969;
  display: flex;
  flex-direction: row;
}

.options div{
  margin: 12px;
  height: auto;
  width: fill;
  overflow:auto;
  background-color: white;
  box-shadow: 2px 2px 5px black;
}
